 <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@cliente.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @cliente.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_with model: @cliente, local: true do |form| %>

  <div class="row">
    <div class="form-group col-md-3">
      <%= form.label :nombre, 'Nombre de cliente' %> 
      <%= form.text_field :nombre, :class => 'form-control' %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :rfc, 'RFC' %> 
      <%= form.text_field :rfc, :class => 'form-control' %>
    </div>
  </div>
  
  <div class="row">
    <div class="form-group col-md-3">
      <%= form.label :calle %> 
      <%= form.text_field :calle, :class => 'form-control' %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :numero_exterior %> 
      <%= form.text_field :numero_exterior, :class => 'form-control' %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :numero_interior %> 
      <%= form.text_field :numero_interior, :class => 'form-control' %>
    </div>
  </div>
  
  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label :colonia %> 
      <%= form.text_field :colonia, :class => 'form-control' %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :municipio_delegacion, 'Municipio o delegación' %> 
      <%= form.text_field :municipio_delegacion, :class => 'form-control' %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :ciudad %> 
      <%= form.text_field :ciudad, :class => 'form-control' %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :estado %> 
      <%= form.text_field :estado, :class => 'form-control' %>  
    </div>
    <div class="form-group col-md-2">
      <%= form.label :codigo_postal %> <br>
      <%= form.text_field :codigo_postal, :class => 'form-control' %>  
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label :telefono %> <br>
      <%= form.text_field :telefono, :class => 'form-control' %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :email%> <br>
      <%= form.text_field :email, :class => 'form-control' %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :persona_contacto, 'Persona para contacto' %> <br>
      <%= form.text_field :persona_contacto, :class => 'form-control' %>
    </div>
  </div>
   <p>
    <%= form.submit :class => 'btn btn-primary' %>
  </p>

<% end %>