<h1>Lista de Clientes</h1>

<%= link_to 'Ir a Ventas', ventas_path, class: 'btn btn-info' %>
<hr />
<%= link_to 'Crear nuevo cliente', new_cliente_path, class: 'btn btn-primary' %>
<br>
<hr/>

<div class="form-group">
  <%= form_with url: clientes_busqueda_path, local: true, :html => {} do |form| %>
    <p>
      <%= form.text_field :nombre,  :class => 'form_control' %>
      <%= form.submit("Buscar cliente") %>
    </p>
  <% end %>
</div>

<% if @clientes_encontrados != nil %>
    
  <%= render 'cliente_info', obj: @clientes_encontrados %>
  
<% end %>

<div align="center">
  <%= will_paginate %>
</div>

<br>
 
<%= render 'cliente_info', obj: @clientes %>
 
<div align="center">
  <%= will_paginate %>
</div>
