<%= link_to 'Crear nuevo cliente', new_cliente_path, class: 'btn btn-primary' %>
<br>
<hr/>


<%= form_with url: clientes_busqueda_path, local: true, :html => {class: "form-inline"} do |form| %>

      <label>Búsqueda de cliente por nombre:</label>
      <%= form.text_field :nombre, :class => 'form-control' %>
      <%= form.submit("Buscar cliente", :class => 'btn btn-success') %>
<% end %>

<% if @clientes_encontrados != nil %>

<br />
    
  <%= render 'cliente_info', obj: @clientes_encontrados %>
  
<% end %>

<div align="center">
  <%= will_paginate %>
</div>

<br>
 
<%= render 'cliente_info', obj: @clientes %>
 
<div align="center">
  <%= will_paginate %>
</div>
