<h1>Esta es la página de egresos</h1>

<%= link_to 'Crear nuevo egreso', new_egreso_path %>
<br>
<br>
<table>
  <tr>
    <th>Fecha</th>
    <th>Descripcion</th>
    <th>Emisor</th>
    <th>Cantidad</th>
    <th>Notas adicionales</th>
  </tr>
  
  <% @egresos.each do |egreso| %>
    <tr>
      <td><%= egreso.fecha %></td>
      <td><%= egreso.descripcion %></td>
      <td><%= egreso.emisor %></td>
      <td><%= egreso.cantidad %></td>
      <td><%= egreso.notas_adicionales %></td>
      <td><%= link_to 'Ver mas detalle', egreso_path(egreso) %></td>
      <td><%= link_to 'Editar egreso', edit_egreso_path(egreso) %></td>
      <td><%= link_to 'Eliminar egreso' , egreso_path(egreso), method: :delete, data: { confirm: 'Are you sure?'}%></td>
    </tr>
  <% end %>
  
</table>