<h1>Disipadores de Calor Mexico</h1>

<%= link_to 'Ir a Ingresos', pages_ingresos_path, class: 'btn btn-info' %>

<%= link_to 'Ir a Ventas', ventas_path, class:'btn btn-info'%>

<%= link_to 'Ir a Egresos', egresos_path, class: 'btn btn-info' %>

<%= link_to 'Ir a Clientes', clientes_path, class: 'btn btn-info' %>

<%= link_to 'Ir a Productos', productos_path, class: 'btn btn-info' %>

<%= link_to 'Ir a Calculadora', pages_calculadora_path, class: 'btn btn-info' %>

<%= link_to 'Ir a Estadísticas', pages_estadisticas_path, class: 'btn btn-info' %>

<hr/>