<h1 style="text-align: center; margin-bottom: 15px;">Disipadores de Calor Mexico</h1>

<div class="container-fluid" >
  <div class="row" id="links_encabezados">
      <%= link_to 'Ingresos', pages_ingresos_path, class: 'btn col-lg-1 col-xs-6' %>
      <%= link_to 'Ventas', ventas_path, class:'btn col-lg-1 col-xs-6'%>
      <%= link_to 'Egresos', egresos_path, class: 'btn col-lg-1 col-xs-6' %>
      <%= link_to 'Clientes', clientes_path, class: 'btn col-lg-1 col-xs-6' %>
      <%= link_to 'Productos', productos_path, class: 'btn col-lg-1 col-xs-6' %>
      <%= link_to 'Calculadora', pages_calculadora_path, class: 'btn col-lg-1 col-xs-6' %>
      <%= link_to 'Estadísticas', pages_estadisticas_path, class: 'btn col-lg-1 col-xs-6' %>
  </div>
</div>

<hr/>