<h1>Bienvenido al software de Disipadores de Calor de Aluminio a Tu Medida</h1>

<%= link_to 'Ir a Ventas', ventas_path, class: "btn btn-info" %>

<h3>Ingresos en intervalo de Fecha</h3>
<p>
  <%= form_with url: pages_ingresos_path, local: true do |form| %>
  
    <p>
      <%= form.label(:fecha_inicial, "Fecha inicial: ") %> <br>
      <%= form.text_field :fecha_inicial, data:{ provide:'datepicker' }, :class => 'datepicker', :id => 'inicio_datepicker', :readonly => 'readonly' %>
    </p>
    <p class='campos_fecha_final'>
      <%= form.label(:fecha_inicial, "Fecha final: ") %> <br>
      <%= form.text_field :fecha_final, data:{ provide:'datepicker' }, :class => 'datepicker', :id => 'final_datepicker', :readonly => 'readonly'  %>
    </p>
    <p>
      <%= form.label(:facturado, "¿Facturado?") %>
      <%= form.select(:facturado, [[],['Si','true'],['No','false']]) %>
    </p>
    <p>
      <%= form.submit("Buscar") %>
    </p>
  <% end %>
</p>


<p>
  <% if @ventas.blank? %>
    <h3>Sin ventas por mostrar<h3>
  <% else %>
  <h3>Ventas de <%= @fecha_inicio.strftime("%d %b %Y") %> a <%= @fecha_final.strftime("%d %b %Y") %></h3>
  <table class="table-striped table-hover table-condensed table-bordered">
    <tr>
      <th>Fecha</th>
      <th>Nombre de Cliente</th>
      <th>Monto de la Venta</th>
      <th>¿Facturado?</th>
    </tr>
  
    <% @ventas.each do |venta| %>
      <tr>
          <td><%= venta.fecha %></td>
          <td><%= venta.cliente.nombre %></td> 
          <td><%= venta.total_pagado_por_cliente%></td>
          <td><%= venta.facturado %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</p>


<p>
  <% if @claveSAT != nil %>
    <h3>Claves del SAT</h3>
    <table class="table-striped table-hover table-condensed table-bordered">
    <% @claveSAT.each do |clave| %>
      <tr>
        <td><%= clave.nombre_producto %></td>
        <td><%= clave.clave_sat %></td> 
      </tr>
    <% end %>
    </table>
  <% end %>  
</p>

<p>
  <% if @suma != nil %>
    <h3>Suma por producto (precio con IVA)</h3>
    <table class="table-striped table-hover table-condensed table-bordered">
    <% @suma.each do |nombre,suma| %>
      <tr>
        <td> <%="#{nombre.titleize}"%> </td>
        <td> <%="#{suma}"%> </td>
      </tr>
    <% end %>
    </table>
  <% end %>
</p>













                  