<%= form_with model: @producto, local: true do |form| %>

  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@producto.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @producto.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label(:fecha_de_compra, "Fecha de compra:") %>
    <%= form.date_select(:fecha_de_compra,
                    start_year: Date.today.year - 2,
                    end_year: Date.today.year + 20) %>
  </p>
  <p>
    <%= form.label :nombre_producto, 'Nombre del producto' %> <br>
    <%= form.text_field :nombre_producto %>
  </p>
  <p>
    <%= form.label :cantidad_comprada, 'Cantidad comprada' %> <br>
    <%= form.text_field :cantidad_comprada %>
  </p>
  <p>
    <%= form.label :precio, 'Precio' %> <br>
    <%= form.text_field :precio %>
  </p>
   <p>
    <%= form.label :clave_sat, 'Clave SAT' %> <br>
    <%= form.text_field :clave_sat %>
  </p>
   <p>
    <%= form.label :precio_unitario_mercado_libre %> <br>
    <%= form.text_field :precio_unitario_mercado_libre %>
  </p>
  <p>
    <%= form.label :precio_unitario_shopify %> <br>
    <%= form.text_field :precio_unitario_shopify %>
  </p>
  <p>
    <%= form.label :notas_adicionales %> <br>
    <%= form.text_area :notas_adicionales %>
  </p>
  <p>
    <%= form.label :perdidas %> <br>
    <%= form.text_field :perdidas %>
  </p>
  <p>
    <%= form.submit %>
  </p>

<% end %>