<h1>Lista de Productos</h1>

<%= link_to 'Ir a Ventas', ventas_path %>
<br>
<%= link_to 'Ir a Clientes', clientes_path %>
<br>
<%= link_to 'Nuevo Producto', new_producto_path %>

 <table>
    <tr>
      <th>Nombre de Producto</th>
      <th>Clave SAT</th>
      <th>Precio Unitario MercadoLibre</th>
      <th>Precio Unitario Shopify</th>
    </tr>
    
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.nombre_producto %></td>
        <td><%= producto.clave_sat %></td>
        <td><%= producto.precio_unitario_mercado_libre %></td>
        <td><%= producto.precio_unitario_shopify %></td>
        <td><%= link_to 'Ver mas detalle', producto_path(producto) %></td>
        <td><%= link_to 'Editar cliente', edit_producto_path(producto) %></td>
        <td><%= link_to 'Eliminar cliente' , producto_path(producto), method: :delete, data: { confirm: '¿Estás seguro?'}%></td>
      </tr>
    <% end %>
    
  </table>
