<h1>Lista de Productos</h1>

<%= link_to 'Ir a Ventas', ventas_path, class: 'btn btn-info' %>
<hr/>
<%= link_to 'Nuevo Producto', new_producto_path, class: 'btn btn-primary' %>
<br>
<br>
 <table class="table table-striped table-hover table-condensed table-bordered">
    <tr>
      <th>Fecha de Compra</th>
      <th>Nombre de Producto</th>
      <th>Cantidad Comprada</th>
      <th>Precio Pagado</th>
      <th>Columna Relacionada en Ventas</th>
      <th>Clave SAT</th>
      <th>Precio de Venta 1</th>
      <th>Precio de Venta 2</th>
      <th>Precio de Venta 3</th>
      <th>Precio de Venta 4</th>
      <th>Precio de Venta 5</th>
      <th>Precio de Venta 6</th>
      <th>Precio de Venta 7</th>
      <th>Precio de Venta 8</th>
      <th>Notas Adicionales</th>
      <th>Perdidas</th>
    </tr>
    
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.fecha_de_compra%></td>
        <td><%= producto.nombre_producto %></td>
        <td><%= producto.cantidad_comprada%></td>
        <td><%= number_to_currency(producto.precio)%></td>
        <td><%= producto.columna_relacionada_en_ventas %></td>
        <td><%= producto.clave_sat %></td>
        <td><%= number_to_currency(producto.precio_1) %></td>
        <td><%= number_to_currency(producto.precio_2) %></td>
        <td><%= number_to_currency(producto.precio_3) %></td>
        <td><%= number_to_currency(producto.precio_4) %></td>
        <td><%= number_to_currency(producto.precio_5) %></td>
        <td><%= number_to_currency(producto.precio_6) %></td>
        <td><%= number_to_currency(producto.precio_7) %></td>
        <td><%= number_to_currency(producto.precio_8) %></td>
        <td><%= producto.notas_adicionales%></td>
        <td><%= producto.perdidas%></td>
        <!--<td><%= link_to 'Ver mas detalle', producto_path(producto), class: 'btn btn-info' %></td>-->
        <td><%= link_to 'Editar producto', edit_producto_path(producto), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Eliminar producto' , producto_path(producto), method: :delete, class: 'btn btn-danger' , data: { confirm: '¿Estás seguro?'}%></td>
      </tr>
    <% end %>
    
  </table>

  
  
