<div>
  <%= will_paginate @clientes %>
</div>

<table class="table-striped table-hover table-condensed table-bordered">
  <tr>
    <th>Numero de Cliente</th>
    <th>Cliente</th>
  </tr>
  
  <% @clientes.each do |cliente| %>
    <tr>
      <td><%= cliente.id %></td>
      <td><%= cliente.nombre %></td>
    </tr>
  <% end %>
</table>

<div>
  <%= will_paginate @clientes %>
</div>

<% if @venta.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@venta.errors.count, "error") %> prohibited
      this article from being saved:
    </h2>
    <ul>
      <% @venta.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<br>

<%= form_with model: @venta, local: true do |form| %>

  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label :cliente_id, 'Número de cliente'%>
      <%= form.text_field :cliente_id, :class => "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= form.label :fecha%> <br>
      <%= form.date_select(:fecha,
                  start_year: Date.today.year - 2,
                  end_year: Date.today.year + 20,
                  order: [:day, :month, :year],
                  :class => "form-control") %>
    </div>
  </div>
  
  <div class="row">
    <div class="form-group col-md-2">
        <%= form.label :medio_de_venta %> <br>
        <%= form.select :medio_de_venta, [['MercadoLibre','MercadoLibre'],['Shopify','Shopify'],['Amazon','Amazon'],['Entrega Personal', 'Entrega Personal']], :class => 'form-control' %>
    </div>
  </div>
  <hr />
  
  <div style="display: none" class="row">
    <% @precios.each do |nombre,precio| %>
      <div class="form-group col-md-1">
        <div><%="#{nombre.titleize}"%></div>
        <div id=<%="#{nombre}"+'_precio_unitario_ML'%> ><%="#{precio[0]}"%></div> 
        <div id=<%="#{nombre}"+'_precio_unitario'%>><%="#{precio[1]}"%></div>
      </div>
    <% end %>
  </div>
  
  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label :longitud_28mm, 'Longitud 2.8 (cm)' %> 
      <%= form.text_field :longitud_28mm, :class => 'zero_init form-control cantidad'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :cortes_28mm, 'Cortes 2.8'  %>
      <%= form.text_field :cortes_28mm, :class => 'zero_init form-control'  %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :precio_28mm, 'Precio 2.8' %> 
      <%= form.text_field :precio_28mm, :class => 'subtotal zero_init form-control', :readonly => 'readonly'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :descuento_28mm, 'Descuento 2.8'  %>
      <%= form.text_field :descuento_28mm, :class => 'zero_init form-control descuento'  %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label :longitud_50mm, 'Longitud 5.0 (cm)' %> 
      <%= form.text_field :longitud_28mm, :class => 'zero_init form-control cantidad'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :cortes_50mm, 'Cortes 5.0'  %>
      <%= form.text_field :cortes_50mm, :class => 'zero_init form-control'  %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :precio_50mm, 'Precio 5.0' %> 
      <%= form.text_field :precio_50mm, :class => 'subtotal zero_init form-control', :readonly => 'readonly'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :descuento_50mm, 'Descuento 5.0'  %>
      <%= form.text_field :descuento_50mm, :class => 'zero_init form-control descuento'  %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label :longitud_75mm, 'Longitud 7.5 (cm)' %> 
      <%= form.text_field :longitud_75mm, :class => 'zero_init form-control cantidad'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :cortes_75mm, 'Cortes 7.5'  %>
      <%= form.text_field :cortes_75mm, :class => 'zero_init form-control'  %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :precio_75mm, 'Precio 7.5' %> 
      <%= form.text_field :precio_75mm, :class => 'subtotal zero_init form-control', :readonly => 'readonly'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :descuento_75mm, 'Descuento 7.5'  %>
      <%= form.text_field :descuento_75mm, :class => 'zero_init form-control descuento'  %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label :longitud_87mm, 'Longitud 8.7 (cm)' %> 
      <%= form.text_field :longitud_87mm, :class => 'zero_init form-control cantidad'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :cortes_87mm, 'Cortes 8.7'  %>
      <%= form.text_field :cortes_87mm, :class => 'zero_init form-control'  %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :precio_87mm, 'Precio 8.7' %> 
      <%= form.text_field :precio_87mm, :class => 'subtotal zero_init form-control', :readonly => 'readonly' %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :descuento_87mm, 'Descuento 8.7' %>
      <%= form.text_field :descuento_87mm, :class => 'zero_init form-control descuento' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label :longitud_100mm, 'Longitud 10.0 (cm)' %> 
      <%= form.text_field :longitud_100mm, :class => 'zero_init form-control cantidad'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :cortes_100mm, 'Cortes 10.0'  %>
      <%= form.text_field :cortes_100mm, :class => 'zero_init form-control'  %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :precio_100mm, 'Precio 10.0' %> 
      <%= form.text_field :precio_100mm, :class => 'subtotal zero_init form-control', :readonly => 'readonly'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :descuento_100mm, 'Descuento 10.0'  %>
      <%= form.text_field :descuento_100mm, :class => 'zero_init form-control descuento'  %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label :longitud_136mm, 'Longitud 13.6 (cm)' %>
      <%= form.text_field :longitud_136mm, :class => 'zero_init form-control cantidad'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :cortes_136mm, 'Cortes 13.6'  %>
      <%= form.text_field :cortes_136mm, :class => 'zero_init form-control'  %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :precio_136mm, 'Precio 13.6' %>
      <%= form.text_field :precio_136mm, :class => 'subtotal zero_init form-control', :readonly => 'readonly' %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :descuento_136mm, 'Descuento 13.6' %>
      <%= form.text_field :descuento_136mm, :class => 'zero_init form-control descuento' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label :longitud_220mm, 'Longitud 22.0 (cm)' %> 
      <%= form.text_field :longitud_28mm, :class => 'zero_init form-control cantidad'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :cortes_220mm, 'Cortes 22.0'  %>
      <%= form.text_field :cortes_220mm, :class => 'zero_init form-control'  %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :precio_220mm, 'Precio 22.0' %> 
      <%= form.text_field :precio_220mm, :class => 'subtotal zero_init form-control', :readonly => 'readonly'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :descuento_220mm, 'Descuento 22.0'  %>
      <%= form.text_field :descuento_220mm, :class => 'zero_init form-control descuento'  %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label :cantidad_peltier %> 
      <%= form.text_field :cantidad_peltier, :class => 'zero_init form-control cantidad' %>
    </div>
    <div class="form-group col-md-2 col-md-offset-2">
      <%= form.label :precio_peltier %>
      <%= form.text_field :precio_peltier, :class => 'subtotal zero_init form-control', :readonly => 'readonly' %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :descuento_peltier %>
      <%= form.text_field :descuento_peltier, :class => 'zero_init form-control descuento' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label :cantidad_pasta_termica %> 
      <%= form.text_field :cantidad_pasta_termica, :class => 'zero_init form-control cantidad' %>
    </div>
    <div class="form-group col-md-offset-2 col-md-2">
      <%= form.label :precio_pasta_termica %> 
      <%= form.text_field :precio_pasta_termica, :class => 'subtotal zero_init form-control', :readonly => 'readonly' %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :descuento_pasta_termica %>
      <%= form.text_field :descuento_pasta_termica, :class => 'zero_init form-control descuento' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2 col-md-offset-4">
      <%= form.label :subtotal, 'Sub-total (Pre-Descuentos)' %> 
      <%= form.text_field :subtotal, :id => 'subtotal', :readonly => 'readonly', :class => 'form-control' %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :total_productos %>
      <%= form.text_field :total_productos, :id => 'total_preenvio', :readonly => 'readonly', :class => "form-control" %>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label :envio_explicito, 'Envío explícito'  %> 
      <%= form.text_field :envio_explicito, :class => 'anadido zero_init form-control' %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :envio_agregado_a_precio_productos, 'Envio agregado al precio' %> 
      <%= form.text_field :envio_agregado_a_precio_productos, :class => 'anadido zero_init form-control' %>
    </div>
     <div class="form-group col-md-2">
      <%= form.label :dinero_anadido, 'Dinero añadido'  %>
      <%= form.text_field :dinero_anadido, :class => 'zero_init form-control anadido'  %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :total_pagado_por_cliente, 'Total pagado por el cliente' %> <br>
      <%= form.text_field :total_pagado_por_cliente, :id => 'total_pagado_por_cliente', :readonly => 'readonly', :class => 'form-control' %>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label :comisiones %> 
      <%= form.text_field :comisiones, :class => 'comisiones zero_init form-control' %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :comision_envio  %>
      <%= form.text_field :comision_envio, :class => 'comisiones zero_init form-control' %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :devolucion  %> 
      <%= form.text_field :devolucion, :class => 'comisiones zero_init form-control' %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :total_post_comisiones %> 
      <%= form.text_field :total_post_comisiones, :id => 'total_post_comisiones', :readonly => 'readonly', :class => 'form-control' %>
    </div>
  </div>
    
  
  <hr />
  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label :facturado, '¿Facturado?' %> <br>
      <%= form.select :facturado, [['False','false'],['True','true']], :id => "boolean_factura", :class => 'form-control' %>
    </div>
    <div class="form-group col-md-2 folio">
      <%= form.label :folio_factura %> 
      <%= form.text_field :folio_factura, :class => 'zero_init form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label :notas_adicionales %> 
      <%= form.text_area :notas_adicionales, :class => 'zero_init form-control' %>
    </div>
  </div>
  <p>
    <%= form.submit :class => 'btn btn-primary' %>
  </p>

<% end %>