<div>
  <%= will_paginate @clientes %>
</div>

<table class="table-striped table-hover table-condensed table-bordered">
  <tr>
    <th>Número de Cliente</th>
    <th>Cliente</th>
  </tr>
  
  <% @clientes.each do |cliente| %>
    <tr>
      <td><%= cliente.id %></td>
      <td><%= cliente.nombre %></td>
    </tr>
  <% end %>
</table>

<div>
  <%= will_paginate @clientes %>
</div>

<% if @venta.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@venta.errors.count, "error") %> prohibited
      this article from being saved:
    </h2>
    <ul>
      <% @venta.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<br>

<%= form_with model: @venta, local: true do |form| %>

  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label :cliente_id, 'Número de cliente'%>
      <%= form.text_field :cliente_id, :class => "form-control", :type => 'number'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :fecha%> <br>
      <%= form.date_select(:fecha,
                  {start_year: Date.today.year - 2,
                  end_year: Date.today.year + 20,
                  order: [:day, :month, :year]},
                  {:class => "form-control"}) %>
    </div>
  </div>
  <hr />
  
  <div class="row">
    <div class="form-group col-md-2 " >
      <%= label :precio, :longitud_28mm, 'Precio de Venta' %><br>
      <%= select(:precio, :longitud_28mm, nil,{},{:class => 'precio_venta form-control'}) do %>
        <% if @precios["longitud_28mm"] != nil %>
          <% @precios["longitud_28mm"].each do |c| %>
            <%= content_tag(:option,number_to_currency(c),value: c) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :longitud_28mm, 'Longitud 2.8 (cm)' %> 
      <%= form.text_field :longitud_28mm, :class => 'zero_init form-control cantidad', :type => 'number', :step => 'any'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :cortes_28mm, 'Cortes 2.8'  %>
      <%= form.text_field :cortes_28mm, :class => 'zero_init form-control', :type => 'number', :step => 'any' %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :precio_28mm, 'Precio 2.8' %> 
      <%= form.text_field :precio_28mm, :class => 'subtotal zero_init form-control precio', :readonly => 'readonly'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :descuento_28mm, 'Descuento 2.8'  %>
      <%= form.text_field :descuento_28mm, :class => 'zero_init form-control descuento', :type => 'number', :step => 'any'  %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <%= label :precio, :longitud_50mm, 'Precio de Venta' %><br>
      <%= select(:precio, :longitud_50mm, nil,{},{:class => 'precio_venta form-control'}) do %>
        <% if @precios["longitud_50mm"] != nil %>
          <% @precios["longitud_50mm"].each do |c| %>
            <%= content_tag(:option,number_to_currency(c),value: c) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :longitud_50mm, 'Longitud 5.0 (cm)' %> 
      <%= form.text_field :longitud_50mm, :class => 'zero_init form-control cantidad', :type => 'number', :step => 'any'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :cortes_50mm, 'Cortes 5.0'  %>
      <%= form.text_field :cortes_50mm, :class => 'zero_init form-control', :type => 'number', :step => 'any'  %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :precio_50mm, 'Precio 5.0' %> 
      <%= form.text_field :precio_50mm, :class => 'subtotal zero_init form-control precio', :readonly => 'readonly'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :descuento_50mm, 'Descuento 5.0'  %>
      <%= form.text_field :descuento_50mm, :class => 'zero_init form-control descuento', :type => 'number', :step => 'any'  %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2 ">
      <%= label :precio, :longitud_75mm, 'Precio de Venta' %><br>
      <%= select(:precio, :longitud_75mm, nil,{},{:class => 'precio_venta form-control'}) do %>
        <% if @precios["longitud_75mm"] != nil %>
          <% @precios["longitud_75mm"].each do |c| %>
            <%= content_tag(:option,number_to_currency(c),value: c) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :longitud_75mm, 'Longitud 7.5 (cm)' %> 
      <%= form.text_field :longitud_75mm, :class => 'zero_init form-control cantidad', :type => 'number', :step => 'any'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :cortes_75mm, 'Cortes 7.5'  %>
      <%= form.text_field :cortes_75mm, :class => 'zero_init form-control', :type => 'number', :step => 'any'  %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :precio_75mm, 'Precio 7.5' %> 
      <%= form.text_field :precio_75mm, :class => 'subtotal zero_init form-control precio', :readonly => 'readonly'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :descuento_75mm, 'Descuento 7.5'  %>
      <%= form.text_field :descuento_75mm, :class => 'zero_init form-control descuento', :type => 'number', :step => 'any'  %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2 ">
      <%= label :precio, :longitud_87mm, 'Precio de Venta' %><br>
      <%= select(:precio, :longitud_87mm, nil,{},{:class => 'precio_venta form-control'}) do %>
        <% if @precios["longitud_87mm"] != nil %>
          <% @precios["longitud_87mm"].each do |c| %>
            <%= content_tag(:option,number_to_currency(c),value: c) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :longitud_87mm, 'Longitud 8.7 (cm)' %> 
      <%= form.text_field :longitud_87mm, :class => 'zero_init form-control cantidad', :type => 'number', :step => 'any'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :cortes_87mm, 'Cortes 8.7'  %>
      <%= form.text_field :cortes_87mm, :class => 'zero_init form-control', :type => 'number', :step => 'any'  %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :precio_87mm, 'Precio 8.7' %> 
      <%= form.text_field :precio_87mm, :class => 'subtotal zero_init form-control precio', :readonly => 'readonly' %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :descuento_87mm, 'Descuento 8.7' %>
      <%= form.text_field :descuento_87mm, :class => 'zero_init form-control descuento', :type => 'number', :step => 'any' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <%= label :precio, :longitud_100mm, 'Precio de Venta' %><br>
      <%= select(:precio, :longitud_100mm, nil,{},{:class => 'precio_venta form-control'}) do %>
        <% if @precios["longitud_100mm"] != nil %>
          <% @precios["longitud_100mm"].each do |c| %>
            <%= content_tag(:option,number_to_currency(c),value: c) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :longitud_100mm, 'Longitud 10.0 (cm)' %> 
      <%= form.text_field :longitud_100mm, :class => 'zero_init form-control cantidad', :type => 'number', :step => 'any'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :cortes_100mm, 'Cortes 10.0'  %>
      <%= form.text_field :cortes_100mm, :class => 'zero_init form-control', :type => 'number' , :step => 'any' %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :precio_100mm, 'Precio 10.0' %> 
      <%= form.text_field :precio_100mm, :class => 'subtotal zero_init form-control precio', :readonly => 'readonly'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :descuento_100mm, 'Descuento 10.0'  %>
      <%= form.text_field :descuento_100mm, :class => 'zero_init form-control descuento', :type => 'number' , :step => 'any' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <%= label :precio, :longitud_136mm, 'Precio de Venta' %><br>
      <%= select(:precio, :longitud_136mm, nil,{},{:class => 'precio_venta form-control'}) do %>
        <% if @precios["longitud_136mm"] != nil %>
          <% @precios["longitud_136mm"].each do |c| %>
            <%= content_tag(:option,number_to_currency(c),value: c) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :longitud_136mm, 'Longitud 13.6 (cm)' %>
      <%= form.text_field :longitud_136mm, :class => 'zero_init form-control cantidad', :type => 'number', :step => 'any'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :cortes_136mm, 'Cortes 13.6'  %>
      <%= form.text_field :cortes_136mm, :class => 'zero_init form-control', :type => 'number', :step => 'any'  %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :precio_136mm, 'Precio 13.6' %>
      <%= form.text_field :precio_136mm, :class => 'subtotal zero_init form-control precio', :readonly => 'readonly' %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :descuento_136mm, 'Descuento 13.6' %>
      <%= form.text_field :descuento_136mm, :class => 'zero_init form-control descuento', :type => 'number', :step => 'any' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <%= label :precio, :longitud_220mm, 'Precio de Venta' %><br>
      <%= select(:precio, :longitud_220mm, nil,{},{:class => 'precio_venta form-control'}) do %>
        <% if @precios["longitud_220mm"] != nil %>
          <% @precios["longitud_220mm"].each do |c| %>
            <%= content_tag(:option,number_to_currency(c),value: c) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :longitud_220mm, 'Longitud 22.0 (cm)' %> 
      <%= form.text_field :longitud_220mm, :class => 'zero_init form-control cantidad', :type => 'number', :step => 'any'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :cortes_220mm, 'Cortes 22.0'  %>
      <%= form.text_field :cortes_220mm, :class => 'zero_init form-control', :type => 'number', :step => 'any'  %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :precio_220mm, 'Precio 22.0' %> 
      <%= form.text_field :precio_220mm, :class => 'subtotal zero_init form-control precio', :readonly => 'readonly'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :descuento_220mm, 'Descuento 22.0'  %>
      <%= form.text_field :descuento_220mm, :class => 'zero_init form-control descuento' , :type => 'number', :step => 'any' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2" >
      <%= label :precio, :cantidad_peltier, 'Precio de Venta' %><br>
      <%= select(:precio, :cantidad_peltier, nil,{},{:class => 'precio_venta form-control'}) do %>
        <% if @precios["cantidad_peltier"] != nil %>
          <% @precios["cantidad_peltier"].each do |c| %>
            <%= content_tag(:option,number_to_currency(c),value: c) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :cantidad_peltier %> 
      <%= form.text_field :cantidad_peltier, :class => 'zero_init form-control cantidad', :type => 'number', :step => 'any' %>
    </div>
    <div class="form-group col-md-2 col-md-offset-2">
      <%= form.label :precio_peltier %>
      <%= form.text_field :precio_peltier, :class => 'subtotal zero_init form-control', :readonly => 'readonly' %>
    </div>
    <div class="form-group col-md-2 ">
      <%= form.label :descuento_peltier %>
      <%= form.text_field :descuento_peltier, :class => 'zero_init form-control descuento', :type => 'number' , :step => 'any'%>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <%= label :precio, :cantidad_pasta_termica, 'Precio de Venta' %><br>
      <%= select(:precio, :cantidad_pasta_termica, nil,{},{:class => 'precio_venta form-control'}) do %>
        <% if @precios["cantidad_pasta_termica"] != nil %>
          <% @precios["cantidad_pasta_termica"].each do |c| %>
            <%= content_tag(:option,number_to_currency(c),value: c) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="form-group col-md-2 ">
      <%= form.label :cantidad_pasta_termica %> 
      <%= form.text_field :cantidad_pasta_termica, :class => 'zero_init form-control cantidad', :type => 'number', :step => 'any' %>
    </div>
    <div class="form-group col-md-2 col-md-offset-2">
      <%= form.label :precio_pasta_termica %> 
      <%= form.text_field :precio_pasta_termica, :class => 'subtotal zero_init form-control', :readonly => 'readonly' %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :descuento_pasta_termica %>
      <%= form.text_field :descuento_pasta_termica, :class => 'zero_init form-control descuento', :type => 'number', :step => 'any' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2 col-md-offset-8">
      <%= form.label :subtotal, 'Sub-total (Pre-Descuentos)' %> 
      <%= form.text_field :subtotal, :id => 'subtotal', :readonly => 'readonly', :class => 'form-control zero_init' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2 col-md-offset-6">
      <%= form.label :iva_prod, 'Porcentaje de IVA' %> <br>
      <%= form.select :iva_prod, [['16%',0.16],['Exento',0.0]], {} ,{:class => 'form-control iva_select'} %>
    </div>
    <div class="form-group col-md-2">
      <%= label :iva, :productos, 'IVA productos'  %><br>
      <%= text_field :iva, :productos, {class: "form-control zero_init", readonly: 'readonly'} %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2 col-md-offset-8">
      <%= form.label :total_productos %>
      <%= form.text_field :total_productos, :id => 'total_preenvio', :readonly => 'readonly', :class => "form-control totales zero_init" %>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="form-group col-md-2 col-md-offset-4 campo_pre_iva">
      <%= label :envio, :antes_de_iva, 'Envio antes de IVA'  %><br>
      <%= text_field :envio, :antes_de_iva, {class: "form-control zero_init", readonly: 'readonly'} %>
    </div>
    <div class="form-group col-md-2 ">
      <%= form.label :iva_envios, 'Porcentaje de IVA' %> <br>
      <%= form.select :iva_envios, [['16%',0.16],['Exento',0.0]], {} ,{:class => 'form-control iva_select'} %>
    </div>
    <div class="form-group col-md-2 campo_iva">
      <%= label :iva, :envio, 'IVA Envios'  %><br>
      <%= text_field :iva, :envio, {class: "form-control zero_init iva_otros", readonly: 'readonly'} %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2 col-md-offset-8">
      <%= form.label :envio_explicito, 'Total Envío explícito'  %> 
      <%= form.text_field :envio_explicito, :class => 'zero_init form-control totales iva', :type => 'number', :step => 'any' %>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="form-group col-md-2 col-md-offset-4 campo_pre_iva">
      <%= label :dinero_adicional, :antes_de_iva, 'Dinero Adicional antes de IVA (cortes o envio agregado)'  %><br>
      <%= text_field :dinero_adicional, :antes_de_iva, {class: "form-control zero_init", readonly: 'readonly'} %>
    </div>
    <div class="form-group col-md-2 ">
      <%= form.label :iva_anadido, 'Porcentaje de IVA' %> <br>
      <%= form.select :iva_anadido, [['16%',0.16],['Exento',0.0]], {} ,{:class => 'form-control iva_select'} %>
    </div>
    <div class="form-group col-md-2 campo_iva">
      <%= label :iva, :anadido, 'IVA Dinero Añadido'  %><br>
      <%= text_field :iva, :anadido, {class: "form-control zero_init  iva_otros", readonly: 'readonly'} %>
    </div>
  </div>
  <div class="row">
     <div class="form-group col-md-2 col-md-offset-8">
      <%= form.label :dinero_anadido, 'Total Dinero añadido'  %>
      <%= form.text_field :dinero_anadido, :class => 'zero_init form-control totales iva', :type => 'number', :step => 'any' %>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="form-group col-md-2 col-md-offset-8">
      <%= form.label :total_pagado_por_cliente, 'Total pagado por el cliente' %> <br>
      <%= form.text_field :total_pagado_por_cliente, :id => 'total_pagado_por_cliente', :readonly => 'readonly', :class => 'form-control zero_init' %>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label :comisiones %> 
      <%= form.text_field :comisiones, :class => 'comisiones zero_init form-control', :type => 'number', :step => 'any' %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :iva_comision_bool, '¿IVA acreditable?' %> <br>
      <%= form.select :iva_comision_bool, [['Si','true'],['No','false']], :class => 'form-control ' %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :comision_envio  %>
      <%= form.text_field :comision_envio, :class => 'comisiones zero_init form-control' , :type => 'number', :step => 'any'%>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :iva_envio_bool, '¿IVA acreditable?' %> <br>
      <%= form.select :iva_envio_bool, [['Si','true'],['No','false']], :class => 'form-control ' %>
    </div>
    <div class="form-group col-md-2">
      <%= form.label :total_post_comisiones %> 
      <%= form.text_field :total_post_comisiones, :id => 'total_post_comisiones', :readonly => 'readonly', :class => 'form-control' %>
    </div>
  </div>
    
  
  <hr />
   
  <div class="row">
    <div class="form-group col-md-2">
        <%= form.label :medio_de_venta %> <br>
        <%= form.select :medio_de_venta, [['MercadoLibre','MercadoLibre'],['Shopify','Shopify'],['Amazon','Amazon'],['PayPal','PayPal'],['Transferencia Electrónica Directa', 'Transferencia Electronica Directa'],['Efectivo', 'Efectivo'],['Otro método de pago', 'Otro Metodo De Pago']], :class => 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label :facturado, '¿Facturado?' %> <br>
      <%= form.select :facturado, [['False','false'],['True','true']], :id => "boolean_factura", :class => 'form-control' %>
    </div>
    <div class="form-group col-md-2 folio">
      <%= form.label :folio_factura %> 
      <%= form.text_field :folio_factura, :class => 'zero_init form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label :notas_adicionales %> 
      <%= form.text_area :notas_adicionales, :class => 'zero_init form-control' %>
    </div>
  </div>
  <p>
    <%= form.submit :class => 'btn btn-primary' %>
  </p>

<% end %>

<hr />

<p><%= link_to "Regresar a Página Anterior", url_for(:back), class:'btn btn-success' %></p>
<p><%= link_to 'Regresar a Todas las Ventas', ventas_path, :class => 'btn btn-info' %></p>