<h1>Ventas de Disipadores de Calor Mexico</h1>

<%= link_to 'Ir a Ingresos', pages_home_path %>
<br>
<%= link_to 'Ir a Egresos', egresos_path %>
<br>
<%= link_to 'Ver Clientes', clientes_path %>
<br>
<%= link_to 'Ver Productos', productos_path %>
<br>
<%= link_to 'Nueva Venta', new_venta_path %>
<br>
<table>
  <tr>
    <th>Fecha</th>
    <th>Cliente</th>
    <th>75mm Longitud (cm)</th>
    <th>87mm Longitud (cm)</th>
    <th>136mm Longitud (cm)</th>
    <th>Peltier Cantidad</th>
    <th>Pasta térmica Cantidad</th>
    <th>Disipador 75mm Precio</th>
    <th>Disipador 87mm Precio</th>
    <th>Disipador 136mm Precio</th>
    <th>Peltier Precio</th>
    <th>Pasta térmica Precio</th>
    <th>Sub-total</th>
    <th>Descuento 75mm</th>
    <th>Descuento 87mm</th>
    <th>Descuento 136mm</th>
    <th>Descuento Peltier</th>
    <th>Descuento Pasta térmica</th>
    <th>Total de Productos</th>
    <th>Envío Explícito (pagado por el cliente)</th>
    <th>Envío agregado al precio de productos (pagado por el cliente)</th>
    <th>Total pagado por el Cliente</th>
    <th>Comisiones</th>
    <th>Comisiones envío</th>
    <th>Devolucion</th>
    <th>Total post-comisiones</th>
    <th>Medio de Ventas</th>
    <th>¿Facturado?</th>
    <th>Folio Factura</th>
    <th>Notas adicionales</th>
  </tr>
  
  <% @ventas.each do |venta| %>
    <tr>
      <td><%= venta.fecha %></td>
      <td><%= venta.cliente.nombre %></td>
      <td><%= venta.longitud_75mm %></td>
      <td><%= venta.longitud_87mm %></td>
      <td><%= venta.longitud_136mm %></td>
      <td><%= venta.cantidad_peltier %></td>
      <td><%= venta.cantidad_pasta_termica %></td>
      <td><%= venta.precio_75mm %></td>
      <td><%= venta.precio_87mm %></td>
      <td><%= venta.precio_136mm %></td>
      <td><%= venta.precio_peltier %></td>
      <td><%= venta.precio_pasta_termica %></td>
      <td><%= venta.subtotal %></td>
      <td><%= venta.descuento_75mm %></td>
      <td><%= venta.descuento_87mm %></td>
      <td><%= venta.descuento_136mm %></td>
      <td><%= venta.descuento_peltier %></td>
      <td><%= venta.descuento_pasta_termica %></td>
      <td><%= venta.total_productos %></td>
      <td><%= venta.envio_explicito %></td>
      <td><%= venta.envio_agregado_a_precio_productos %></td>
      <td><%= venta.total_pagado_por_cliente %></td>
      <td><%= venta.comisiones %></td>
      <td><%= venta.comision_envio %></td>
      <td><%= venta.devolucion %></td>
      <td><%= venta.total_post_comisiones %></td>
      <td><%= venta.medio_de_venta %></td>
      <td><%= venta.facturado %></td>
      <td><%= venta.folio_factura %></td>
      <td><%= venta.notas_adicionales %></td>
      <td><%= link_to 'Ver mas detalle', venta_path(venta) %></td>
      <td><%= link_to 'Editar venta', edit_venta_path(venta) %></td>
      <td><%= link_to 'Eliminar venta' , venta_path(venta), method: :delete, data: { confirm: '¿Estás seguro de borrar esta venta?'}%></td>
    </tr>
  <% end %>
  
</table>