<%= link_to 'Nueva Venta', new_venta_path, class: 'btn btn-primary' %>

<%= link_to 'Crear nuevo cliente', new_cliente_path, class: 'btn btn-primary' %>



<br>
<div align="center">
  <%= will_paginate @ventas %>
</div>
<br>
<table class="table table-striped table-hover table-condensed table-bordered">
  <tr>
    <th>Fecha</th>
    <th>ID Cliente</th>
    <th>Cliente</th>
    <th>28mm</th>
    <th>50mm</th>
    <th>75mm</th>
    <th>87mm</th>
    <th>100mm</th>
    <th>136mm</th>
    <th>220mm</th>
    <th>Peltier</th>
    <th>Pasta térmica</th>
    <th>Sub-total</th>
    <th>Total de Productos</th>
    <th>Envío Explícito (pagado por el cliente)</th>
    <th>Dinero Añadido</th>
    <th>Total pagado por el Cliente</th>
    <th>Comisiones</th>
    <th>Comisiones envío</th>
    <th>Total post-comisiones</th>
    <th>Medio de Ventas</th>
    <th>¿Facturado?</th>
    <th>Folio Factura</th>
  </tr>
  
  <% @ventas.each do |venta| %>
    <tr>
      <td><%= venta.fecha %></td>
      <td><%= venta.cliente.id%></td>
      <td><%= link_to venta.cliente.nombre, cliente_path(venta.cliente)%></td>
      <td>Long: <%= venta.longitud_28mm %><br>Cortes: <%= venta.cortes_28mm %><br>Costo/cm: <%= number_to_currency(venta.costo_28mm) %><br>Descuento: <%= number_to_currency(venta.descuento_28mm) %><br>Precio: <%= number_to_currency(venta.precio_28mm) %></td>
      <td>Long: <%= venta.longitud_50mm %><br>Cortes: <%= venta.cortes_50mm %><br>Costo/cm: <%= number_to_currency(venta.costo_50mm) %><br>Descuento: <%= number_to_currency(venta.descuento_50mm) %><br>Precio: <%= number_to_currency(venta.precio_50mm) %></td>
      <td>Long: <%= venta.longitud_75mm %><br>Cortes: <%= venta.cortes_75mm %><br>Costo/cm: <%= number_to_currency(venta.costo_75mm) %><br>Descuento: <%= number_to_currency(venta.descuento_75mm) %><br>Precio: <%= number_to_currency(venta.precio_75mm) %></td>
      <td>Long: <%= venta.longitud_87mm %><br>Cortes: <%= venta.cortes_87mm %><br>Costo/cm: <%= number_to_currency(venta.costo_87mm) %><br>Descuento: <%= number_to_currency(venta.descuento_87mm) %><br>Precio: <%= number_to_currency(venta.precio_87mm) %></td>
      <td>Long: <%= venta.longitud_100mm %><br>Cortes: <%= venta.cortes_100mm %><br>Costo/cm: <%= number_to_currency(venta.costo_100mm) %><br>Descuento: <%= number_to_currency(venta.descuento_100mm) %><br>Precio: <%= number_to_currency(venta.precio_100mm) %></td>
      <td>Long: <%= venta.longitud_136mm %><br>Cortes: <%= venta.cortes_136mm %><br>Costo/cm: <%= number_to_currency(venta.costo_136mm) %><br>Descuento: <%= number_to_currency(venta.descuento_136mm) %><br>Precio: <%= number_to_currency(venta.precio_136mm) %></td>
      <td>Long: <%= venta.longitud_220mm %><br>Cortes: <%= venta.cortes_220mm %><br>Costo/cm: <%= number_to_currency(venta.costo_220mm) %><br>Descuento: <%= number_to_currency(venta.descuento_220mm) %><br>Precio: <%= number_to_currency(venta.precio_220mm) %></td>
      <td>Cant: <%= venta.cantidad_peltier %><br>Costo/pieza: <%= number_to_currency(venta.costo_peltier) %><br>Descuento: <%= number_to_currency(venta.descuento_peltier) %><br>Precio: <%= number_to_currency(venta.precio_peltier) %></td>
      <td>Cant: <%= venta.cantidad_pasta_termica %><br>Costo/pieza: <%= number_to_currency(venta.costo_pasta_termica) %><br>Descuento: <%= number_to_currency(venta.descuento_pasta_termica) %><br>Precio: <%= number_to_currency(venta.precio_pasta_termica) %></td>
      <td><%= number_to_currency(venta.subtotal) %></td>
      <td><%= number_to_currency(venta.total_productos) %></td>
      <td><%= number_to_currency(venta.envio_explicito) %></td>
      <td><%= number_to_currency(venta.dinero_anadido)%></td>
      <td><%= number_to_currency(venta.total_pagado_por_cliente) %></td>
      <td><%= number_to_currency(venta.comisiones) %></td>
      <td><%= number_to_currency(venta.comision_envio) %></td>
      <td><%= number_to_currency(venta.total_post_comisiones) %></td>
      <td><%= venta.medio_de_venta %></td>
      <td><%= venta.facturado %></td>
      <td><%= venta.folio_factura %></td>
      <!--<td><%= link_to 'Ver mas detalle', venta_path(venta), class: 'btn btn-info' %></td>-->
      <td><%= link_to 'Editar venta', edit_venta_path(venta), class: 'btn btn-warning' %></td>
      <td><%= link_to 'Eliminar venta' , venta_path(venta), method: :delete, class: 'btn btn-danger' , data: { confirm: '¿Estás seguro de borrar esta venta?'}%></td>
    </tr>
  <% end %>
  
</table>

<div align="center">
  <%= will_paginate @ventas %>
</div>
