<h1>Ventas de Disipadores de Calor Mexico</h1>



<%= link_to 'Ir a Ingresos', pages_ingresos_path, class: 'btn btn-info' %>

<%= link_to 'Ir a Egresos', egresos_path, class: 'btn btn-info' %>

<%= link_to 'Ir a Clientes', clientes_path, class: 'btn btn-info' %>

<%= link_to 'Ir a Productos', productos_path, class: 'btn btn-info' %>

<%= link_to 'Ir a Estadísticas', pages_estadisticas_path, class: 'btn btn-info' %>
<hr />
<%= link_to 'Nueva Venta', new_venta_path, class: 'btn btn-primary' %>

<br>

<br>
<table class="table table-striped table-hover table-condensed table-bordered">
  <tr>
    <th>Fecha</th>
    <th>Cliente</th>
    <th>75mm Longitud (cm)</th>
    <th>87mm Longitud (cm)</th>
    <th>136mm Longitud (cm)</th>
    <th>Peltier Cantidad</th>
    <th>Pasta térmica Cantidad</th>
    <th>Disipador 75mm Precio</th>
    <th>Disipador 87mm Precio</th>
    <th>Disipador 136mm Precio</th>
    <th>Peltier Precio</th>
    <th>Pasta térmica Precio</th>
    <th>Sub-total</th>
    <th>Descuento 75mm</th>
    <th>Descuento 87mm</th>
    <th>Descuento 136mm</th>
    <th>Descuento Peltier</th>
    <th>Descuento Pasta térmica</th>
    <th>Total de Productos</th>
    <th>Envío Explícito (pagado por el cliente)</th>
    <th>Envío agregado al precio de productos (pagado por el cliente)</th>
    <th>Total pagado por el Cliente</th>
    <th>Comisiones</th>
    <th>Comisiones envío</th>
    <th>Devolucion</th>
    <th>Total post-comisiones</th>
    <th>Medio de Ventas</th>
    <th>¿Facturado?</th>
    <th>Folio Factura</th>
    <th>Notas adicionales</th>
  </tr>
  
  <% @ventas.each do |venta| %>
    <tr>
      <td><%= venta.fecha %></td>
      <td><%= venta.cliente.nombre %></td>
      <td><%= venta.longitud_75mm %></td>
      <td><%= venta.longitud_87mm %></td>
      <td><%= venta.longitud_136mm %></td>
      <td><%= venta.cantidad_peltier %></td>
      <td><%= venta.cantidad_pasta_termica %></td>
      <td><%= number_to_currency(venta.precio_75mm) %></td>
      <td><%= number_to_currency(venta.precio_87mm) %></td>
      <td><%= number_to_currency(venta.precio_136mm) %></td>
      <td><%= number_to_currency(venta.precio_peltier) %></td>
      <td><%= number_to_currency(venta.precio_pasta_termica) %></td>
      <td><%= number_to_currency(venta.subtotal) %></td>
      <td><%= number_to_currency(venta.descuento_75mm) %></td>
      <td><%= number_to_currency(venta.descuento_87mm) %></td>
      <td><%= number_to_currency(venta.descuento_136mm) %></td>
      <td><%= number_to_currency(venta.descuento_peltier) %></td>
      <td><%= number_to_currency(venta.descuento_pasta_termica) %></td>
      <td><%= number_to_currency(venta.total_productos) %></td>
      <td><%= number_to_currency(venta.envio_explicito) %></td>
      <td><%= number_to_currency(venta.envio_agregado_a_precio_productos) %></td>
      <td><%= number_to_currency(venta.total_pagado_por_cliente) %></td>
      <td><%= number_to_currency(venta.comisiones) %></td>
      <td><%= number_to_currency(venta.comision_envio) %></td>
      <td><%= number_to_currency(venta.devolucion) %></td>
      <td><%= number_to_currency(venta.total_post_comisiones) %></td>
      <td><%= venta.medio_de_venta %></td>
      <td><%= venta.facturado %></td>
      <td><%= venta.folio_factura %></td>
      <td><%= venta.notas_adicionales %></td>
      <td><%= link_to 'Ver mas detalle', venta_path(venta), class: 'btn btn-info' %></td>
      <td><%= link_to 'Editar venta', edit_venta_path(venta), class: 'btn btn-warning' %></td>
      <td><%= link_to 'Eliminar venta' , venta_path(venta), method: :delete, class: 'btn btn-danger' , data: { confirm: '¿Estás seguro de borrar esta venta?'}%></td>
    </tr>
  <% end %>
  
</table>
