<!DOCTYPE html>
<html>
  <head>
    <title>DisipadoresMexico</title>
    <%= csrf_meta_tags %>
    <!-- Se añade la linea de abajo para funcionalidad en telefonos -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'Chart.bundle','chartkick','data-turbolinks-track': 'reload' %>
  </head>
  <body class="margin-body">
    <%= render '/shared/header' %>
    <%= yield %>
  </body>
</html>
